#favorite{ id: @spot.id }
  - if !Favorite.exists?(user: current_user, spot_id: @spot.id)   # お気に入り未登録の時
    = link_to spot_favorites_path(@spot), method: :spot, remote: true, class: "favorite-btn favorite-spot" do
      .i.far.fa-thumbs-up
        %span いいね！
        = @spot.favorites.length   # お気に入り登録数
  - else    # お気に入り登録済みの時
    = link_to spot_favorites_path(@spot), method: :delete, remote: true, class: "favorite-btn favorite-delete" do
      .i.far.fa-thumbs-up
        %span いいね！
        = @spot.favorites.length   # お気に入り登録数
   
