#mypage {
    .panel_area {
      width: 100%;
      display: flex;
      flex-direction: row;
      .tab_panel {
        width: 100%;
      }
      #panel3 {
       
        flex-direction: row;
        justify-content: space-between;
        #map {
          height: 400px;
        }
        #location-list {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
      .hide {
        display: none;
      }
    }
  }
  